<nav>
  <a routerLink="/new-movement">New Movement</a>
  <a routerLink="/movements">Movements</a>
</nav>

<section>
  <article>
      <!-- <header>
          <h2>Balance</h2>
      </header> -->
      <main>
      <!-- Fork this -->
      <!-- <a href="https://github.com/AtomicBuilders/neutron">Repository</a> -->
      <router-outlet></router-outlet>
      </main>
      <!-- <footer>Use it as a base for web js projects</footer> -->
  </article>
</section>

<aside>
<ul>
  <li>HTML5</li>
  <li>Flex-box</li>
  <li>ES6</li>
</ul>
</aside>


