/* .encabezado {
  height: 50px;
  margin-top: 15px;
  font-weight: normal;
  color: #5A655F;
  font-size: 16px;
  padding: 12px;
  width: 90%;
  background: #E7EAE9;
  border: 1px solid #9daca3;
  border-radius: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.ingreso,
.gasto {
  font-weight: bold;
}

.ingreso {
  color: #5b87da;
}

.gasto {
  color: red;
}
 */

p {
  margin-top: 20px;
  margin-left: 10px;
}
